:root {
	--border-color: #e3e8e7;
	--primary-text-color: #171c1b;
	--seaGreen: rgba(38, 115, 110, 0.1);
	--green: #5cb6a4;
	--lightGreen: #329993;
	--darkGreen: #1e7f7a;
	--grayText: #465352;
	--lightGray: #758a89;
}
